<div class="row">
  <div class="col-sm-6">
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for [current_user, @task, @message] do |f| %>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
