<div class="row">
  <div class="col-sm-6">
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@task, @message] do |f| %>
  <%= f.input :description, label: "Enter Description: " %>
  <%= f.submit %>
<% end %>
