<div class="pull-left" role="links">
  <ul class="list-inline">
    <li> <%= link_to "Tasks Index", root_url, class: "btn btn-primary btn-sm" %> </li>
  </ul>
</div>
<br><br>
<h4>NEW TASK</h4>

<%= render partial: 'form' %>
