  <div class="pull-left" role="links">
    <ul class="list-inline">
      <li><%= link_to "Customers Index", customers_url, class: "btn btn-primary btn-sm" %></li>
    </ul>
  </div>
  <br><br>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">EDIT Customer ID: <%= @customer.id %></h5>
    </div> <!-- end of panel-heading -->
    <div class="panel-body">
      <%= render partial: 'form' %>
    </div>
  </div>
